certifi==2021.5.30
colorama==0.4.4
cycler==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
kiwisolver @ file:///C:/ci/kiwisolver_1612282446297/work
llvmlite==0.36.0
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numba==0.53.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1603480701039/work
olefile==0.46
Pillow @ file:///C:/ci/pillow_1625663293114/work
pynndescent==0.5.5
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
scikit-learn @ file:///C:/ci/scikit-learn_1622739439730/work
scipy @ file:///C:/ci/scipy_1597675683670/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
torch==1.6.0
torchvision==0.7.0
tornado @ file:///C:/ci/tornado_1606942379977/work
tqdm==4.62.3
umap-learn==0.5.2
wincertstore==0.2
